h1{
    color: red;
}
body{
    background: #45f7e8;
}
li{
    color: blue;
    padding: 5px;
    margin-bottom: 10px;
}
input{
    background: orange;
}
#button{
    background: #122be8;
    color: #45f7e8;
}